body{
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    background-color: rgb(255, 238, 3);

}

article{
    flex: 2;
    overflow-y: auto;
    border: 1px solid red;
    background-color: aqua;

}

aside{
    flex: 1;
    border: 1px solid red;

}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    border: 1px solid red;


}

@media (max-width: 800px) {
    body.works_on_smartphone {
        display: block;
    }
    body.works_on_smartphone main {
        display: block;
    }
    header .right {
        float: none;
    }
  }